---
import Layout from "../../layouts/Layout.astro";
import ProfileSection from "../../components/UserProfile/ProfileSection.astro";
import ContentSection from "../../components/UserProfile/ContentSection.astro";
import { friends } from "../../data/friends";
const { friend } = Astro.params;

const info = friends.find((b) => b.name === friend);
if (!info) {
  return Astro.redirect("/404");
}

const { name, img } = info;
---

<Layout title=`Libro ${name}`>
  <main class="m-auto max-w-4xl flex flex-col">
    <ProfileSection name={name} img={img} />
    <ContentSection />
  </main>
</Layout>
