---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import LogInCard from "../components/LogInCard.astro";
---

<Layout title="Sign-In">
  <main class="m-auto max-w-4xl flex flex-col justify-center items-center">
    <Title />
    <LogInCard />
  </main>
</Layout>
