---
import Layout from "../layouts/Layout.astro";
import Tabs from "../components/SettingsPage/tabs.astro";
import Options from "../components/SettingsPage/Options.jsx";
---

<Layout title="settings">
  <main class="m-auto max-w-5xl mb-32">
    <h1
      transition:name="title"
      class="font-black uppercase text-4xl md:text-6xl text-center py-8 dark:text-white md:mb-14"
    >
      Settings
    </h1>
    <section class="p-5">
      <Options client:load />
    </section>
  </main>
</Layout>
