---
import { friends } from "../data/friends";
---

<div
  class="w-full max-w-md p-4 bg-white rounded-lg shadow sm:p-8 dark:bg-zinc-900 mb-20"
>
  <div class="flex items-center justify-between mb-4">
    <h5
      class="text-xl font-bold leading-none text-gray-900 dark:text-white md:text-3xl"
    >
      Friends
    </h5>
    <a
      href="#"
      class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500 md:text-lg"
    >
      View all
    </a>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      {
        friends.map((friend) => {
          return (
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img
                    class="w-8 h-8 rounded-full md:w-12 md:h-12"
                    src={friend.img}
                    alt="Neil image"
                  />
                </div>
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white md:text-lg">
                    {friend.name}
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400 md:text-base">
                    {friend.status}
                  </p>
                </div>
                {/* <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            $320
          </div>  */}
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
