---
import { SideMenu } from "./SideMenu";
import { ProfileToggle } from "./ProfileToggle";
---

<nav>
  <div class="flex flex-row gap-4 justify-between p-4">
    <SideMenu transition:name="side-menu" client:load />
    <ProfileToggle client:load />
  </div>
</nav>
