---

---

<a href="/">
  <h1
    transition:name="title"
    class="font-black uppercase text-6xl md:text-8xl text-center py-8 dark:text-white"
  >
    Latest
    <span class="block text-[36px] md:text-[58px]">Books</span>
  </h1>
</a>
