---
import Layout from "../../layouts/Layout.astro";
import BookCard from "../../components/ListOfBooks/BookCard.astro";
---

<Layout title="My books">
  <header>
    <a href="/">
      <h1
        class="scale-50 font-black uppercase text-6xl md:text-8xl text-center py-8 px-4 dark:text-white"
        transition:name="title"
      >
        Latest
        <span class="block text-[36px] md:text-[58px]">Books</span>
      </h1>
    </a>
  </header>
  <main class="m-auto max-w-4xl flex flex-col">
    <BookCard />
  </main>
</Layout>
