---
import Layout from "../../layouts/Layout.astro";
import Search from "../../components/Search";
---

<Layout title="Search">
  <main class="m-auto max-w-4xl md:max-w-7xl flex flex-col items-center">
    <header class="relative">
      <a href="/">
        <h1
          class="scale-75 font-black uppercase text-6xl md:text-8xl md:mb-8 text-center px-4 dark:text-white"
          transition:name="title"
        >
          Book
          <span class="block text-[36px] md:text-[58px]">Search</span>
        </h1>
      </a>
    </header>
    <Search client:load />
  </main>
</Layout>
