---
import Layout from "../../../layouts/Layout.astro";
import ProfileSection from "../../../components/UserProfile/ProfileSection.astro";
import ContentSection from "../../../components/UserProfile/ContentSection.jsx";
import { friends } from "../../../data/friends.js";
const { user } = Astro.params;

const info = friends.find((b) => b.name === user);
if (!info) {
  return Astro.redirect("/404");
}

const { name, img } = info;
---

<Layout title=`Libro ${name}`>
  <main class="m-auto max-w-4xl flex flex-col">
    <ProfileSection name={name} img={img} />
    <ContentSection client:load />
  </main>
</Layout>
